@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0px 80px;
    margin: auto;
}
.navbar{
    background: crimson;
    width: 100%;
    position: fixed;
    padding: 15px 0px;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}
.navbar .menu li{
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.home{
    display: flex;
    background: url("logo.png") no-repeat center fixed;
    height: 100vh;
    color: rgb(8, 8, 8);
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.footer{
    position: fixed;
}
#loc{
    position: sticky;
    top: 200px;
    left: 200px;
    margin-right: auto;
    margin-left: auto;
}